<div class="head row">
	<div class="col-md-3 lefted">
		{% if trivia %}
			<img src="{{ trivia }}" alt="{{ trivia }}" />
		{% else %}
			<img src="{{ trivia_logo }}" alt="{{ trivia_logo }}"  />
		{% endif %}
	</div>
	<div class="col-md-6 centered title"> <span id="quest">{{ title }}</span></div>
	<div class="col-md-3 righted">
		{% if logo %}
		<img src="{{ logo }}" />
		{% endif %}
	</div>
</div>
<div class="body body-content">
	{% if image %}
	<div class="col-md-6"><img src="{{ image }}" /></div>
	 <div class="col-md-6">
	 	<div class="upbody "><p>{{ quest }}</p></div>
		<div class="downbody">
			<ul>
			{{ answer_a ? '<li> A) ' ~ answer_a ~ '</li>':'' }}
			{{ answer_b ? '<li> B) ' ~ answer_a ~ '</li>':'' }}
			{{ answer_c ? '<li> C) ' ~ answer_a ~ '</li>':'' }}
			{{ answer_d ? '<li> D) ' ~ answer_a ~ '</li>':'' }}
				
			</ul>
		</div>
	</div>
{% else %}
	<div class="upbody full center"><p><?php echo $quest; ?></p></div>
	<div class="downbody">
		<ul>
			{{ answer_a ? '<li> A) ' ~ answer_a ~ '</li>':'' }}
			{{ answer_b ? '<li> B) ' ~ answer_a ~ '</li>':'' }}
			{{ answer_c ? '<li> C) ' ~ answer_a ~ '</li>':'' }}
			{{ answer_d ? '<li> D) ' ~ answer_a ~ '</li>':'' }}
		</ul>
	</div>

{% endif %}
	
</div>
<div class="foot row">
<div class="col-md-3"></div><div class="col-md-6 centered counter"> sn|<span id="count"></span></div>
<div class="col-md-3"><span class="btn-left by-btn" data-by-toggle="ajax" data-by-href="index.php?route=bytao/trivia|nexta&user_token={{ user_token }}&trivia_id={{ trivia_id }}&equal={{ equal }}"><i class="arrow arrow-right"></i></span></div>
</div>