<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="input-width">{{ entry_widget_type }}</label>
    <div class="col-sm-10">
     <select id="control-type" class="form-control fItem" oldval="{{ type }}">
    	<option value="1" {% if type == "1" %} selected="selected" {% endif %}>Latest </option> 
    	<option value="2" {% if type == "2" %} selected="selected" {% endif %}>Selected</option> 
	</select>
	
    </div>
</div>

<div class="row mb-3 s1 if {{ type=='1'?'unhide':'' }}">
    <label class="col-sm-2 col-form-label" for="input-width">{{ entry_pieces }}</label>
    <div class="col-sm-10">
    	<input id="piece-item" class="form-control fItem" placeholder="{{ entry_pieces }}" value="{{ pieces?pieces:'1' }}" type="number"/>
    </div>
</div>

<div class="row mb-3 s2 if {{ type=='2'?'unhide':'' }}">
	<label class="col-sm-2 col-form-label">{{ entry_reviews }}</label>
	<div class="col-sm-10">
		<select name="reviews"  multiple class="form-control fItem" >
			{% for review in reviews %}
			<option value="{{ review.review_id}}" {% if review.review_id in parts %}selected="selected" {% endif %}>{{ review.author }} -> {{ review.name }} : <span>{{ review.rating }}*</span></option>
			{% endfor %}
	  	</select>
	  <div class="form-text">{{ help_review }}</div>
	</div>
</div>
        
<script type="text/javascript"><!--
$(document).ready(function(e){
	
	$('#control-type').trigger('change');
});

$(document).on('change','#control-type',function(e){
	e.preventDefault();
	ci = $(this).val();
	CI = $(this).attr('oldval');
	
	if(ci != CI){
		$(this).attr('oldval',ci);
		$('.unhide option').removeAttr('selected');
		$('.if').removeClass('unhide');
		$('.s'+ci).addClass('unhide')
	} 
});



//--></script>

        

      