<section id="newsletter-subscribe-widget">
	<div id="">
			<form id="formNewLestter" method="post" action="{{ action }}" class="formNewLestter">
				<div class="w3-row w3-center w3-padding-64">
					<div class="wapper">
						<div class="description">
							{#{ description | html_entity_decode }#}
						</div>
						<div class="input-form">
							<input type="text" class="form-control input-md inputNew" {% if not customer_email %} onblur="javascript:if(this.value=='')this.value='{{ default_input_text }}'" onfocus="javascript:if(this.value=='{{ default_input_text }}')this.value='';"{% endif %} value="" size="18" name="email">
						</div>
						<div class="button-submit">
								<button type="submit" name="submitNewsletter" class="btn btn-black">{{ button_subscribe }}</button>
							</div>	
						<input type="hidden" value="1" name="action">
						<div class="valid"></div>
					</div>
				</div>	

			</form>
			<div class="description">{#{ social | html_entity_decode }#}</div>

	</div>

</section>

<script type="text/javascript"><!--

	$( document ).ready(function() {
		var id = 'newsletter-subscribe-widget';
		$('#'+id+' .box-heading').bind('click', function(){
			$('#'+id).toggleClass('active');
		});

		$('#formNewLestter').on('submit', function() {
			var email = $('.inputNew').val();
			$(".success_inline, .warning_inline, .error").remove();
			
			if(!isValidEmailAddress(email)) {				
			$('.valid').html("<div class=\"error alert alert-danger\">{{ valid_email }}</div></div>");
			$('.inputNew').focus();
			return false;
		}
		var url = "{{ action }}";
		$.ajax({
			type: "post",
			url: url,
			data: $("#formNewLestter").serialize(),
			dataType: 'json',
			success: function(json)
			{
				$(".success_inline, .warning_inline, .error").remove();
				if (json['error']) {
					$('.valid').html("<div class=\"warning_inline alert alert-danger\">"+json['message']+"</div>");
				}else if (json['error']==0) {
					$('.valid').html("<div class=\"success_inline alert alert-success\">"+json['message']+"</div>");
				}
				
			}
		});
		return false;
	});
});

function isValidEmailAddress(emailAddress) {
	var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
	return pattern.test(emailAddress);
}
--></script>