{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-article" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-article" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
            
            <li class="nav-item"><a href="#tab-design" data-bs-toggle="tab" class="nav-link">{{ tab_design }}</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab-general" class="tab-pane tab-pane-top active">
            	<div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{ entry_status }}</label>
                <div class="col-sm-1">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="status" value="0"/>
                    <input type="checkbox" name="status" value="1" id="input-status" class="form-check-input"{% if status %} checked{% endif %}/>
                  </div>
                </div>
                <label class="col-sm-2 col-form-label">{{ entry_bottom }}</label>
                <div class="col-sm-1">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="bottom" value="0"/>
                    <input type="checkbox" name="bottom" value="1" id="input-bottom" class="form-check-input"{% if bottom %} checked{% endif %}/>
                  </div>
                  <div class="bottom-position {% if not bottom %} hidden{% endif %}">
                    	<select id="bottom-position" >
                    		<option value="1" {% if bottom == 1 %} selected="selected"{% endif %}>1</option>
                    		<option value="2" {% if bottom == 2 %} selected="selected"{% endif %}>2</option>
                    		<option value="3" {% if bottom == 3 %} selected="selected"{% endif %}>3</option>
                    		<option value="4" {% if bottom == 4 %} selected="selected"{% endif %}>4</option>
                    	</select>
                  </div>
                  <div class="form-text">{{ help_bottom }}</div>
                </div>
               
                <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
                <div class="col-sm-2">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
                </div>
              
               </div>
               <div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{ entry_article_category }}</label>
                <div class="col-sm-10">
                  <input type="text" name="article_category" value="" placeholder="{{ entry_article_category }}" id="input-article-category" data-oc-target="autocomplete-article-category" class="form-control" autocomplete="off"/>
                  <ul id="autocomplete-article-category" class="dropdown-menu"></ul>
                  <div class="input-group">
                    <div class="form-control p-0" style="height: 150px; overflow: auto;">
                      <table id="article-category" class="table table-sm m-0">
                        <tbody>
                          {% for article_category in article_categories %}
                            <tr id="article-category-{{ article_category.article_category_id }}">
                              <td>{{ article_category.name }}<input type="hidden" name="article_category[]" value="{{ article_category.article_category_id }}"/></td>
                              <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-minus-circle"></i></button></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                   
                  </div>
                  <div class="form-text">{{ help_category }}</div>
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="input-parent" class="col-sm-2 col-form-label">{{ entry_article_writer }}</label>
                <div class="col-sm-10">
                  <input type="text" name="article_writer_name" value="{{ article_writer.name }}" placeholder="{{ entry_article_writer }}" id="input-article-writer" data-oc-target="autocomplete-article-writer" class="form-control" autocomplete="off"/>
                  <ul id="autocomplete-article-writer" class="dropdown-menu"></ul>
                  <input type="hidden" name="article_writer_id" value="{{ article_writer.article_writer_id }}" id="input-article-writer-id"/>
                  <div class="form-text">{{ help_article_writer }}</div>
                  <div id="error-article-writer" class="invalid-feedback"></div>
                </div>
              </div>
              <div class="row mb-3">
                  <label for="input-date-added" class="col-sm-2 col-form-label">{{ entry_date_added }}</label>
                  <div class="col-sm-10 col-md-4">
                    <div class="input-group">
                      <input type="text" name="date_added" value="{{ date_modified }}" placeholder="{{ entry_date_added }}" id="input-date-added" class="form-control date"/>
                      <div class="input-group-text"><i class="fa-regular fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
                
              <ul class="nav nav-tabs">
                {% for language in languages %}
                  <li class="nav-item"><a href="#language-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link{% if loop.first %} active{% endif %}"><img src="{{ language.image|lower }}" title="{{ language.name }}"/> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                  <div id="language-{{ language.language_id }}" class="tab-pane{% if loop.first %} active{% endif %}">
                    <div class="row mb-3">
                      <label for="input-header-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_header }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="article_description[{{ language.language_id }}][header]" value="{{ article_description[language.language_id].header }}" placeholder="{{ entry_header }}" id="input-header-{{ language.language_id }}" class="form-control"/>
                        
                      </div>
                    </div>
                    
                    <div class="row mb-3 required">
                      <label for="input-title-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_title }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="article_description[{{ language.language_id }}][title]" value="{{ article_description[language.language_id].title }}" placeholder="{{ entry_title }}" id="input-title-{{ language.language_id }}" class="form-control"/>
                        <div id="error-title-{{ language.language_id }}" class="invalid-feedback"></div>
                      </div>
                    </div>
                    
                    <div class="row mb-3 required">
                      <label for="input-description-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_description }}</label>
                      <div class="col-sm-10">
                        <div id="input-description-{{ language.language_id }}">
                          <textarea name="article_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" data-toggle="summernote" class="form-control">{{ article_description[language.language_id].description }}</textarea>
                        </div>
                      </div>
                    </div>
                    
                     <div class="row mb-3">
									<label class="col-sm-2 col-form-label"> SEO </label>
									<div class="col-sm-10">
										<ul class="nav nav-tabs" id="meta">
											<li class="nav-item">
												<a href="#tab-meta-title-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link required">
													{{ entry_meta_title }}
													<i class="{{ article_description[language.language_id].meta_title ? 'fa-solid': 'fa-regular' }} fa-circle">
													</i>
												</a>
											</li>
											<li class="nav-item">
												<a href="#tab-meta-description-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link">
													{{ entry_meta_description }}
													<i class="{{ article_description[language.language_id].meta_description ? 'fa-solid': 'fa-regular' }} fa-circle">
													</i>
												</a>
											</li>
											<li class="nav-item">
												<a href="#tab-meta-keyword-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link">
													{{ entry_meta_keyword }}
													<i class="{{ article_description[language.language_id].meta_keyword ? 'fa-solid': 'fa-regular' }} fa-circle">
													</i>
												</a>
											</li>
											<li class="nav-item">
												<a href="#tab-meta-seo-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link active">
													{{ entry_seo_url }}
													<i class="{{ article_seo_url[language.language_id] ? 'fa-solid': 'fa-regular' }} fa-circle">
													</i>
												</a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane" id="tab-meta-title-{{ language.language_id }}">
												<div class="row mb-3">
													<div>
														<input type="text" name="article_description[{{ language.language_id }}][meta_title]" value="{{ article_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title-{{ language.language_id }}" class="form-control"/>
														<div id="error-meta-title-{{ language.language_id }}" class="invalid-feedback">
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane " id="tab-meta-description-{{ language.language_id }}">
												<div class="row mb-3">
													<div class="col-sm-12">
														<textarea name="article_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description-{{ language.language_id }}" class="form-control">{{ article_description[language.language_id].meta_description }}</textarea>
													</div>
												</div>
											</div>
											<div class="tab-pane " id="tab-meta-keyword-{{ language.language_id }}">
												<div class="row mb-3">
													<div class="col-sm-12">
														<textarea name="article_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword-{{ language.language_id }}" class="form-control">{{ article_description[language.language_id].meta_keyword }}</textarea>
													</div>
												</div>
											</div>
											<div class="tab-pane active" id="tab-meta-seo-{{ language.language_id }}">
												<div class="row mb-3">
													<div class="col-sm-12">
														<div class="alert alert-info">
															<i class="fa-solid fa-info-circle"></i>{{ text_keyword }}
														</div>
														<div class="input-group">
															<div class="input-group-text">
																<img src="{{ language.image|lower }}" title="{{ language.name }}" style="margin-right:10px;"/>  {{ url }}
															</div>
															<input type="text" name="article_seo_url[{{ language.language_id }}]" value="{{ article_seo_url[language.language_id] }}" placeholder="{{ entry_keyword }}" id="input-keyword-{{ language.language_id }}" class="form-control input-seo-url" style="padding-left: 1px;"/>
														</div>
														<div id="error-keyword-{{ language.language_id }}" class="invalid-feedback">
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
                    
                    
                  </div>
                {% endfor %}
              </div>
            </div>
            
            <div id="tab-design" class="tab-pane tab-pane-top">
            	<div class="row mb-3">
	                <label class="col-sm-2 col-form-label">{{ entry_limage }}</label>
	                <div class="col-sm-10">
	                  <div class="card image">
	                    <img src="{{ lthumb }}" alt="" title="" id="thumb-limage" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="limage" value="{{ limage }}" id="input-limage"/>
	                    <div class="card-body">
	                      <button type="button" data-oc-toggle="image" data-oc-target="input-limage" data-oc-thumb="#thumb-limage" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
	                      <button type="button" data-oc-toggle="clear" data-oc-target="input-limage" data-oc-thumb="#thumb-limage" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
	                    </div>
	                  </div>
	                </div>
	              </div>
              
              <div class="row mb-3">
	                <label class="col-sm-2 col-form-label">{{ entry_himage }}</label>
	                <div class="col-sm-10">
	                  <div class="card image">
	                    <img src="{{ hthumb }}" alt="" title="" id="thumb-himage" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="himage" value="{{ himage }}" id="input-himage"/>
	                    <div class="card-body">
	                      <button type="button" data-oc-toggle="image" data-oc-target="input-himage" data-oc-thumb="#thumb-himage" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
	                      <button type="button" data-oc-toggle="clear" data-oc-target="input-himage" data-oc-thumb="#thumb-himage" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
	                    </div>
	                  </div>
	                </div>
	              </div>
               <div class="row mb-3">
	                <label class="col-sm-2 col-form-label">{{ entry_fimage }}</label>
	                <div class="col-sm-10">
	                  <div class="card image">
	                    <img src="{{ fthumb }}" alt="" title="" id="thumb-fimage" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="fimage" value="{{ fimage }}" id="input-timage"/>
	                    <div class="card-body">
	                      <button type="button" data-oc-toggle="image" data-oc-target="input-fimage" data-oc-thumb="#thumb-fimage" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
	                      <button type="button" data-oc-toggle="clear" data-oc-target="input-timage" data-oc-thumb="#thumb-fimage" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
	                    </div>
	                  </div>
	                </div>
	              </div>
              
              <div class="table-responsive hidden">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-start">{{ entry_store }}</td>
                      <td class="text-start">{{ entry_layout }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for store in stores %}
                      <tr>
                        <td class="text-start">{{ store.name }}</td>
                        <td class="text-start"><select name="article_layout[{{ store.store_id }}]" class="form-select">
                            <option value=""></option>
                            {% for layout in layouts %}
                              <option value="{{ layout.layout_id }}"{% if article_layout[store.store_id] and article_layout[store.store_id] == layout.layout_id %} selected{% endif %}>{{ layout.name }}</option>
                            {% endfor %}
                          </select></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <input type="hidden" name="article_id" value="{{ article_id }}" id="input-article-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#input-article-writer').autocomplete({
    'source': function (request, response) {
        $.ajax({
            url: 'index.php?route=blog/article_writer.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request.term),
            dataType: 'json',
            success: function (json) {
                json.unshift({
                    'name': '{{ text_none }}',
                    'category_id': '0'
                });

                response($.map(json, function (item) {
                    return {
                        value: item.article_writer_id,
                        label: item.name
                    }
                }));
            }
        });
    },
    
    'select': function (event, ui) {        
        $('#input-article-writer').val(ui.item.label);
        $('#input-article-writer-id').val(ui.item.value);
        return false;
    }
});



$('#input-article-category').autocomplete({
    'source': function (request, response) {
        $.ajax({
            url: 'index.php?route=blog/article_category.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request.term),
            dataType: 'json',
            success: function (json) {
                response($.map(json, function (item) {
                    return {
                        label: item.name,
                        value: item.article_category_id
                    }
                }));
            }
        });
    },
    'select': function ( event, ui) {
        $('#article-category-' + ui.item.label.value).remove();
        html = '<tr id="article-category-' + ui.item.value + '">';
        html += '  <td>' + ui.item.label + '<input type="hidden" name="article_category[]" value="' + ui.item.value + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#article-category tbody').append(html);
        $('#input-article-category').val('');
        return false;
    }
});

$('#article-category').on('click', '.btn', function () {
    $(this).parent().parent().remove();
});


$(document).ready(function(){
		$('#input-bottom').click(function(){
			if($('#input-bottom').prop('checked')){
				if($('.bottom-position').hasClass('hidden')){
					$('.bottom-position').removeClass('hidden');
				}
			}else{
				$('.bottom-position').addClass('hidden');
			}
		});
		
		$('#bottom-position').change(function(){
			$('#input-bottom').val($(this).val())
		});
});

//--></script>

{{ footer }} 