{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="page-ctrl-controls" data-iwidth="" data-owidth="">
        <a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
        <button type="submit" form="form-article-category" formaction="{{ delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" onclick="return confirm('{{ text_confirm }}');" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-list"></i> {{ text_list }} </div>
      <div id="article_category" class="card-body">{{ list }}</div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$(document).ready(function()
{
	{% if lst %}
			element = document.getElementById('ca{{ lst }}');
			element.classList.add("lastone");
			$("html, body").animate({scrollTop:element.offsetTop}, 500);
	{% endif %}
});

$(document).on('click','#form-article_category [data-bs-toggle=\'modal\']', function (e) {
        e.preventDefault();
        var element = this;
        $('#modal-list-order').remove();
        $.ajax({
            url: $(element).attr('data-link'),
            dataType: 'html',
            success: function (html) {
                $('body').append(html);
                $('#modal-list-order').modal('show');
            }
        });
    });

$(document).on('show.bs.modal','#modal-list-order', function (event) {
  var button = $(event.relatedTarget)
  var recipient = button.data('link')
  var modal = $(this)
   $.ajax({
		url: recipient ,
		dataType: 'json',	
		success: function(json) {
			if(json['body']){
				$('#modal-body').html(json['body']);	
			}
			if(json['title']){
				modal.find('.modal-title').text(json['title']);	
			}
		}
	});
});

//--></script>

<script type="text/javascript"><!--
$('#article_category').on('click', 'thead a, .pagination a', function (e) {
    e.preventDefault();

    $('#article_category').load(this.href);
});

//--></script>

{{ footer }}
