<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="input-total">{{ entry_title }}</label>
    <div class="col-sm-10">
    	<input id="input-title" value="" placeholder="{{ entry_title }}" class="form-control fItem">
    </div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="input-total">{{ entry_total }}</label>
    <div class="col-sm-10">
    	<input id="input-total" value="3" placeholder="{{ entry_total }}" class="form-control fItem">
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="input-width">{{ entry_width }}</label>
    <div class="col-sm-10">
    	<input id="input-width" value="" placeholder="{{ entry_width }}" class="form-control fItem">
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="input-height">{{ entry_height }}</label>
    <div class="col-sm-10">
     	<input id="input-height" value="" placeholder="{{ entry_height }}" class="form-control fItem">
    </div>
</div>


        

      