{{ header }}
{{ column_left }}
{% set image_row = 0 %}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="page-ctrl-controls" data-iwidth="" data-owidth="">
				<button type="submit" form="form-banner" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
					<i class="fa-solid fa-floppy-disk">
					</i>
				</button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light">
					<i class="fa-solid fa-reply">
					</i>
				</a>
			</div>
			<h1>
				{{ heading_title }}
			</h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header">
				<i class="fa-solid fa-pencil">
				</i>{{ text_form }}
			</div>
			<div class="card-body">
				<form id="form-banner" action="{{ save }}" method="post" data-oc-toggle="ajax">
					<div class="tab-content">
						<div class="row mb-3 required">
							<label class="col-sm-2 control-label" for="input-name">
								{{ entry_name }}
							</label>
							<div class="col-sm-10">
								<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 control-label" for="input-width">
								{{ entry_width }}
							</label>
							<div class="col-sm-10">
								<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />

							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 control-label" for="input-height">
								{{ entry_height }}
							</label>
							<div class="col-sm-10">
								<input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />

							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">
								{{ entry_status }}
							</label>
							<div class="col-sm-10">
								<div class="form-check form-switch form-switch-lg">
									<input type="hidden" name="status" value="0"/>
									<input type="checkbox" name="status" value="1" id="input-status" class="form-check-input"{% if status %} checked{% endif %}/>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-label">
								{{ entry_image }}
							</label>
							<div class="col-sm-10">
								<ul class="nav nav-tabs">
									{% for language in languages %}
									<li class="nav-item">
										<a href="#language-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link{% if loop.first %} active{% endif %}">
											<img src="{{ language.image }}" title="{{ language.name }}"/> {{ language.name }}
										</a>
									</li>
									{% endfor %}
								</ul>
								<div class="tab-content">
									{% for language in languages %}
									<div id="language-{{ language.language_id }}" class="tab-pane l-tab {% if loop.first %} active{% endif %}" data-lid="{{ language.language_id }}" >

<ul id="sortable-{{ language.language_id }}" data-imc="{{ banner_images[language.language_id]|length }}">
											{% for bkey,banner_image in banner_images[language.language_id] %}
													{% set image_row = loop.index %}
													<li id="image-row-{{ language.language_id }}-{{ image_row }}" class="sort-item row">
														<div class="row">
															<div class="sort-selector col-1">
																<i class="fa fa-arrows"></i>
															</div>
															<div class="input-container col-4">
																<input type="hidden" name="banner_image[{{ language.language_id }}][{{ image_row }}][type]" value="{{ banner_image.type?banner_image.type:'0' }}"/>
																<div class="form-floating mb-3">
																	<input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][description]" value="{{ banner_image.description }}"  class="form-control" id="floatingInput{{ language.language_id }}-{{ image_row }}-title" />
																	<label for="floatingInput{{ language.language_id }}-{{ image_row }}-title">{{ language.name }} {{ entry_title }}</label>
																</div>	
																<div class="form-floating mb-3">
																	<input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][link]" value="{{ banner_image.link }}" class="form-control" id="floatingInput{{ language.language_id }}-{{ image_row }}-link" />
																	<label for="floatingInput{{ language.language_id }}-{{ image_row }}-link">{{ entry_link }}</label>
																</div>
																<div class="form-floating mb-3">
																	<input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][banner_parent_class]" value="{{ banner_image.banner_parent_class }}" class="form-control" id="floatingInput{{ language.language_id }}-{{ image_row }}-class"/>
																	<label for="floatingInput{{ language.language_id }}-{{ image_row }}-class">{{ entry_banner_parent_class }}</label>
																</div>
															</div>
															<div class="image-container col-6">
																<div class="row">
																	<div class="col-sm-5">
																		<div class="card image">
																			<img src="{{ banner_image.thumb }}" alt="" title="" id="thumb-image-{{ language.language_id }}-{{ image_row }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> 
																			<input type="hidden" name="banner_image[{{ language.language_id }}][{{ image_row }}][image]" value="{{ banner_image.image }}" id="input-image-{{ language.language_id }}-{{ image_row }}"/>
																			<div class="card-body">
																				<button type="button" data-oc-toggle="image" data-oc-target="input-image-{{ language.language_id }}-{{ image_row }}" data-oc-thumb="thumb-image-{{ language.language_id }}-{{ image_row }}" class="btn btn-primary btn-sm btn-block">
																					<i class="fa-solid fa-pencil">
																					</i>{{ button_edit }}
																				</button>
																				<button type="button" data-oc-toggle="clear" data-oc-target="input-image-{{ language.language_id }}-{{ image_row }}" data-oc-thumb="thumb-image-{{ language.language_id }}-{{ image_row }}" class="btn btn-warning btn-sm btn-block">
																					<i class="fa-regular fa-trash-can">
																					</i>{{ button_clear }}
																				</button>
																			</div>
																		</div>
																	</div>
																	<label class="col-sm-2 col-form-label">{{ entry_mobile_image }}</label>
																	<div class="col-sm-5">
																		<div class="card image">
																			<img src="{{ banner_image.mobile_thumb }}" alt="" title="" id="thumb-mobile-image-{{ language.language_id }}-{{ image_row }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> 
																			<input type="hidden" name="banner_image[{{ language.language_id }}][{{ image_row }}][mobile_image]" value="{{ banner_image.mobile_image }}" id="input-mobile-image-{{ language.language_id }}-{{ image_row }}"/>
																			<div class="card-body">
																				<button type="button" data-oc-toggle="image" data-oc-target="input-mobile-image-{{ language.language_id }}-{{ image_row }}" data-oc-thumb="thumb-mobile-image-{{ language.language_id }}-{{ image_row }}" class="btn btn-primary btn-sm btn-block">
																					<i class="fa-solid fa-pencil">
																					</i>{{ button_edit }}
																				</button>
																				<button type="button" data-oc-toggle="clear" data-oc-target="input-mobile-image-{{ language.language_id }}-{{ image_row }}" data-oc-thumb="thumb-mobile-image-{{ language.language_id }}-{{ image_row }}" class="btn btn-warning btn-sm btn-block">
																					<i class="fa-regular fa-trash-can">
																					</i>{{ button_clear }}
																				</button>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="action-container col-1">
																<button type="button" id="add-sub-layer-{{ language.language_id }}-{{ image_row }}" onclick="addLayer({{ image_row }});" data-toggle="images" title="{{ button_banner_add }}" class="btn btn-success add-sub">
																	<i class="fa fa-plus">
																	</i>
																</button>
																<button type="button" onclick="$('#image-row-{{ language.language_id }}-{{ image_row }}').remove();$('.tooltip').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger remove-item">
																	<i class="fa fa-minus-circle">
																	</i>
																</button>
															</div>
															<div class="row">
																<div class="col-5"></div>
																<div class="col-7" style="padding-top: .6rem;">
																	{% set sub_layer_count = banner_image['subs'] |length %}
																	<table class="table table-borderless" id="sub-layer-{{ language.language_id }}-{{ image_row }}" data-subc="{{ sub_layer_count ? sub_layer_count : 0 }}">
																		<tbody>
																			{% for sub in banner_image['subs'] %}
																			{% set layer_row = loop.index %}
																			<tr id="image-row-{{ language.language_id }}-{{ image_row }}-{{ layer_row }}" class="subImageRow layerTR">
																				<td class="text-left sub">
																					<div class="form-floating mb-3">
																						<select name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][type]" class="form-control subSelect" id="floatingSelect{{ language.language_id }}-{{ image_row }}-{{ layer_row }}" aria-label="Floating label select example" >
																							<option value="0" {{ sub.type == 0 ? 'selected':'' }}>Image</option>
																							<option value="1" {{ sub.type == 1 ? 'selected':'' }}>H1</option>
																							<option value="2" {{ sub.type == 2 ? 'selected':'' }}>H2</option>
																							<option value="3" {{ sub.type == 3 ? 'selected':'' }}>H3</option>
																							<option value="4" {{ sub.type == 4 ? 'selected':'' }}>P</option>
																						</select> 
																						<label for="floatingSelect{{ language.language_id }}-{{ image_row }}-{{ layer_row }}">{{ entry_type }}</label>
																					</div>	
																					<div class="form-floating mb-3">
																						<input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][description]" value="{{ sub.description }}" class="form-control" id="floatingInput{{ language.language_id }}-{{ image_row }}-{{ layer_row }}-title" />
																							<label for="floatingInput{{ language.language_id }}-{{ image_row }}-{{ layer_row }}-title">{{ entry_text }}</label>
																					</div>	
																					
																					<div class="form-floating mb-3">	
																						<input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][link]" value="{{ sub.link }}" class="form-control" id="floatingInput{{ language.language_id }}-{{ image_row }}-{{ layer_row }}-link" />
																						<label for="floatingInput{{ language.language_id }}-{{ image_row }}-{{ layer_row }}-link">{{ entry_link }}</label>
																					</div>	
																					<div class="form-floating">
																						<textarea name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][style]" class="form-control" id="floatingArea{{ language.language_id }}-{{ image_row }}-{{ layer_row }}" >{{ sub.style }}</textarea>
																						<label for="floatingArea{{ language.language_id }}-{{ image_row }}-{{ layer_row }}">{{ entry_style  }}</label>
																					</div>

																				</td>
																				<td class="text-left">
																						<div class="position-div">		
																								<table class="position-table table-striped table-bordered">
																																									<tr>
																																										<td><input type="radio" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][position]" value="1" {{ sub.position=="1" ? 'checked="checked"':'' }} /></td>
																																										<td><input type="radio" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][position]" value="2" {{ sub.position=="2" ? 'checked="checked"':'' }}/></td>
																																										<td><input type="radio" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][position]" value="3" {{ sub.position=="3" ? 'checked="checked"':'' }}/></td></tr>
																																									<tr>
																																										<td><input type="radio" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][position]" value="4" {{ sub.position=="4" ? 'checked="checked"':'' }}/></td>
																																										<td><input type="radio" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][position]" value="5" {{ sub.position=="5" ? 'checked="checked"':'' }}/></td>
																																										<td><input type="radio" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][position]" value="6" {{ sub.position=="6" ? 'checked="checked"':'' }}/></td></tr>
																																									<tr>
																																										<td><input type="radio" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][position]" value="7" {{ sub.position=="7" ? 'checked="checked"':'' }}/></td>
																																										<td><input type="radio" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][position]" value="8" {{ sub.position=="8" ? 'checked="checked"':'' }}/></td>
																																										<td><input type="radio" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][position]" value="9" {{ sub.position=="9" ? 'checked="checked"':'' }}/></td></tr>
																																								</table>
																						</div>
																				</td>
																				<td class="text-left">
																					<div class="card image hidden">
																						<img src="{{ placeholder }}" alt="" title="" id="thumb-image-{{ language.language_id }}-{{ image_row }}-{{ layer_row }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>
																						<input type="hidden" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][image]" value="{{ sub.image }}" id="input-image-{{ language.language_id }}-{{ image_row }}-{{ layer_row }}"/>
																						<div class="card-body">
																							<button type="button" data-oc-toggle="image" data-oc-target="input-image-{{ language.language_id }}-{{ image_row }}-{{ layer_row }}" data-oc-thumb="thumb-image-{{ language.language_id }}-{{ image_row }}-{{ layer_row }}" class="btn btn-primary btn-sm btn-block">
																								<i class="fa-solid fa-pencil"></i>{{ button_edit }}</button>
																							<button type="button" data-oc-toggle="clear" data-oc-target="input-image-{{ language.language_id }}-{{ image_row }}-{{ layer_row }}" data-oc-thumb="thumb-image-{{ language.language_id }}-{{ image_row }}-{{ layer_row }}" class="btn btn-warning btn-sm btn-block">
																								<i class="fa-regular fa-trash-can"></i>{{ button_clear }}</button>
																						</div>
																					</div>
																				</td>
																				<td class="text-left action-td"><input type="hidden" name="banner_image[{{ language.language_id }}][{{ image_row }}][sub][{{ layer_row }}][sort_order]" value="{{ sub.sort_order }}"/>
																					<button type="button" onclick="$(\'#image-row-{{ language.language_id }}-{{ image_row }}-{{ layer_row }}\').remove();$(\'.tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger">
																						<i class="fa fa-minus-circle"></i></button></td>
																			</tr>
																			{% endfor %}
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</li>
													
											{% endfor %}
										</ul>
										<div class="float-end">
										<button type="button" id="add-images" data-toggle="images" title="{{ button_banner_add }}" class="btn btn-success"><i class="fa fa-plus-circle"></i></button></div>

									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" name="banner_id" value="{{ banner_id??banner_id }}" id="input-bannerid" />
				</form>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript"><!--
$(document).on( 'click','#add-images', function(e)
	{
		addImage();
	});
//--></script>

<script type="text/javascript"><!--
$('#clear-cache').on('click',function()
	{
		var form = $('#form-banner');
		$.ajax(
			{
				url: 'index.php?route=bytao/banner|clearcache&user_token={{ user_token }}',
				cache: false,
				data: form.serialize(),
				type: 'post',
				dataType: 'json',
				beforeSend: function()
				{
					$( "html" ).addClass( "loading" );
				},
				success: function(json)
				{
					$( "html" ).removeClass( "loading" );
					if(json['success'])
					{
						alert("Cache cleared");
					}
					if(json['error'])
					{

						alert(json['error']);
					}

				},
				error: function(data, errorThrown)
				{
					$( "html" ).removeClass( "loading" );
					$( ".container-fluid > .panel" ).before( '<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> '+errorThrown+' <button type="button" class="close" data-dismiss="alert">&times;</button></div>' );
				}
			});
	});
//--></script>

<script type="text/javascript"><!--


$(document).ready(function()
	{
		$(document).delegate('#button-sellect', 'click', function(e)
			{

				$.ajax(
					{
						url: 'index.php?route=common/filemanager|multisel&token={{ token }}',
						type: 'post',
						dataType: 'json',
						data: $('input[name^=\'path\']:checked'),
						beforeSend: function()
						{
							$('#button-delete').prop('disabled', true);
						},
						complete: function()
						{
							$('#button-delete').prop('disabled', false);
						},
						success: function(json)
						{
							if (json['error'])
							{
								alert(json['error']);
							}

							if (json['images'])
							{

								$.each(json['images'], function(i, item)
									{
										addImages( item.path,item.thumb );
									})
							}
						},
						error: function(xhr, ajaxOptions, thrownError)
						{
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});

				$('.popover').remove();
				$('#modal-image').modal('hide');
			});

	});

//--></script>


<script type="text/javascript"><!--
var selectedOne = 0;
$(document).delegate('a.thumbnail', 'click', function(e)
	{
		e.preventDefault();
		if($(this).data('path'))
		{
			if(selectedOne==0)
			{
				addImages($(this).data('path'),$(this).data('thumb'));
			}

			$('.popover').remove();
			$('#modal-image').modal('hide');
		}

		return false;
	});
//--></script>

<script type="text/javascript"><!--
$(document).ready(function ()
	{
		sortable();
	});

function sortable()
{
	$('#images').sortable(
		{
			containerSelector: 'table',
			itemPath: '> tr',
			itemSelector: 'tr.sort',
			handle: '.sort-selector > i',
			placeholder: '<tr><td colspan="7"><div class="gallery-placeholder"></div> </td></tr>',
			pullPlaceholder:'true',
			onDrop:function ($item, container, _super, event)
			{
				$item.removeClass("dragged").removeAttr("style")
				$("body").removeClass("dragging")
				updatesort();

			}
		});
	{% for language in languages %}
		$( "#sortable-{{ language.language_id }}" ).sortable(
			{
				dropOnEmpty: false,
				connectWith: "ul",
				handle: '.sort-selector > i',
				pullPlaceholder:'true',
				placeholder: "ui-state-highlight",
				onDrop:function ($item, container, _super, event)
				{
					$item.removeClass("dragged").removeAttr("style")
					$("body").removeClass("dragging")
					updatesort();
				}
			});
			
		$( "#sortable{{ language.language_id }}" ).disableSelection();
	{% endfor %}

	$( "#images" ).disableSelection();
}

function updatesort()
{
	sayac=0;
	$( ".sort-order" ).each(function( )
		{
			sayac++;
			$( this ).val(sayac);
		});
}
//--></script>

<script type="text/javascript"><!--

function addLayer(imageRow)
{
	languageID = $('.l-tab.active').data('lid');
	var sbC = $('#sub-layer-'+languageID+'-'+imageRow).data('subc');
	layerRow = parseInt(sbC)+1

	html  = '<tr id="image-row-'+languageID+'-'+imageRow+'-'+layerRow+ '" class="layerTR">';
	
	html += '  <td class="text-left">';
	html += '<div class="form-floating mb-3">';
	html += '<select name="banner_image[' +languageID+'][' + image_row + '][sub][' + layerRow + '][type]" class="form-control subSelect" id="floatingSelect' +languageID+'-' + image_row + '-' + layerRow + '" aria-label="Floating label select example">';
	html += '<option value="0">Image</option><option value="1">H1</option><option value="2">H2</option><option value="3">H3</option><option value="4">P</option>';
	html += '</select>';
	html += '<label for="floatingSelect' +languageID+'-' + image_row + '-' + layerRow + '">{{ entry_type }}</label>';
	html += '</div>';
	html += '<div class="form-floating mb-3">';
	html += '<input type="text" name="banner_image[' +languageID+'][' + image_row + '][sub][' + layerRow + '][description]" value="" placeholder="{{ entry_title }}" class="form-control" id="floatingInput' +languageID+'-' + image_row + '-' + layerRow + '-title" />';
	html += '<label for="floatingInput' +languageID+'-' + image_row + '-' + layerRow + '-title">{{ entry_title }}</label>';
	html += '</div>';
	html += '<div class="form-floating mb-3">';
	html += '	<input type="text" name="banner_image[' +languageID+'][' + image_row + '][sub][' + layerRow + '][link]" value="" placeholder="{{ entry_link }}" class="form-control" id="floatingInput' +languageID+'-' + image_row + '-' + layerRow + '-link" />';
	html += '<label for="floatingInput' +languageID+'-' + image_row + '-' + layerRow + '-link">{{ entry_link }}</label>';
	html += '</div>';
	html += '<div class="form-floating">';
	html += '<textarea name="banner_image[' +languageID+'][' + image_row + '][sub][' + layerRow + '][style]" placeholder="{{ entry_banner_style }}" class="form-control" id="floatingArea' +languageID+'-' + image_row + '-' + layerRow + '" ></textarea>';
	html += '<label for="floatingArea' +languageID+'-' + image_row + '-' + layerRow + '">{{ entry_banner_style }}</label>';
	html += '</div>';


	html += '</td>';
	
	html += '  <td class="text-left sub">';

	html += '<div class="position-div"><table class="position-table table-striped table-bordered">';
	html += '<tr><td><input type="radio" name="banner_image[' +languageID+'][' + imageRow + '][sub][' + layerRow + '][position]" value="1" checked="checked" /></td>';
	html += '<td><input type="radio" name="banner_image[' +languageID+'][' + imageRow + '][sub][' + layerRow + '][position]" value="2" /></td>';
	html += '<td><input type="radio" name="banner_image[' +languageID+'][' + imageRow + '][sub][' + layerRow + '][position]" value="3" /></td></tr>';
	html += '<tr><td><input type="radio" name="banner_image[' +languageID+'][' + imageRow + '][sub][' + layerRow + '][position]" value="4" /></td>';
	html += '<td><input type="radio" name="banner_image[' +languageID+'][' + imageRow + '][sub][' + layerRow + '][position]" value="5" /></td>';
	html += '<td><input type="radio" name="banner_image[' +languageID+'][' + imageRow + '][sub][' + layerRow + '][position]" value="6" /></td></tr>';
	html += '<tr><td><input type="radio" name="banner_image[' +languageID+'][' + imageRow + '][sub][' + layerRow + '][position]" value="7" /></td>';
	html += '<td><input type="radio" name="banner_image[' +languageID+'][' + imageRow + '][sub][' + layerRow + '][position]" value="8" /></td>';
	html += '<td><input type="radio" name="banner_image[' +languageID+'][' + imageRow + '][sub][' + layerRow + '][position]" value="9" /></td></tr>';
	html += '              		</table></div>';
	html += '  </td>';
	
	html += '  <td class="text-left">';
	html += '	<div class="card image hidden">';
	html += '<img src="{{ placeholder }}" alt="" title="" id="thumb-mobile-image-' +languageID+'-' + imageRow +'-'+layerRow +'" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>';
	html += '<input type="hidden" name="banner_image[' +languageID+'][' + imageRow + '][sub][' + layerRow + '][image]" value="" id="input-mobile-image-' +languageID+'-' + imageRow +'-'+layerRow +'"/>';
	html += '<div class="card-body">';
	html += '<button type="button" data-oc-toggle="image" data-oc-target="input-mobile-image-' +languageID+'-' + imageRow +'-'+layerRow +'" data-oc-thumb="thumb-mobile-image-' +languageID+'-' + imageRow +'-'+layerRow +'" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i>{{ button_edit }}</button>';
	html += '<button type="button" data-oc-toggle="clear" data-oc-target="input-mobile-image-' +languageID+'-' + imageRow +'-'+layerRow +'" data-oc-thumb="thumb-mobile-image-' +languageID+'-' + imageRow +'-'+layerRow +'" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i>{{ button_clear }}</button>';
	html += '</div>';
	html += '</div>';
	html += '    </div>';
	html += '</td>';
	
	
	
	html += '  <td class="text-left action-td"><input type="hidden" name="banner_image[' + imageRow + '][sub][' + layerRow + '][sort_order]" value=""/><button type="button" onclick="$(\'#image-row-' +languageID+'-' + imageRow +'-'+layerRow +'\').remove();$(\'.tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';

	$('#sub-layer-' +languageID+'-'+imageRow+'> tbody').append(html);
	$('#sub-layer-'+languageID+'-'+imageRow).data('subc',layerRow);

}
//--></script>
<script type="text/javascript"><!--

var image_row = {{ image_row }};

function addImage()
{
	languageID = $('.l-tab.active').data('lid');
	IMC = $('#sortable-'+languageID).data('imc');
	image_row =parseInt(IMC) + 1;
	
	html   = '<li id="image-row-' +languageID+'-'+ image_row + '" class="sort-item">';
	html  += '	<div class="row">';
	html  += '		<div class="sort-selector col-1"><i class="fa fa-arrows"></i></div>';
	html  += '		<div class="input-container col-4">';
	html  += '			<input type="hidden" name="banner_image[' +languageID+'][' + image_row + '][type]" value="0"/>';
	html  += '	<div class="form-floating mb-3">';
	html  += '		<input type="text" name="banner_image[' +languageID+'][' + image_row + '][description]" value=""  class="form-control" id="floatingInput' +languageID+'-' + image_row + '-title" />';
	html  += '	<label for="floatingInput' +languageID+'-' + image_row + '-title">{{ language.name }} {{ entry_title }}</label>';
	html  += '	</div>';
	html  += '	<div class="form-floating mb-3">';
	html  += '		<input type="text" name="banner_image[' +languageID+'][' + image_row + '][link]" value="" class="form-control" id="floatingInput' +languageID+'-' + image_row + '-link" />';
	html  += '		<label for="floatingInput' +languageID+'-' + image_row + '-link">{{ entry_link }}</label>';
	html  += '	</div>';
	html  += '	<div class="form-floating mb-3">';
	html  += '		<input type="text" name="banner_image[' +languageID+'][' + image_row + '][banner_parent_class]" value="" class="form-control" id="floatingInput' +languageID+'-' + image_row + '-class"/>';
	html  += '		<label for="floatingInput' +languageID+'-' + image_row + '-class">{{ entry_banner_parent_class }}</label>';
	html  += '	</div>';
	html  += '</div>';
	
	html  += '<div class="image-container col-6">';
	html  += '	<div class="row">';
	html  += '		<div class="col-sm-5">';
	html  += '			<div class="card image">';
	html  += '				<img src="{{ placeholder }}" alt="" title="" id="thumb-image-' +languageID+'-' + image_row + '" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>';
	html  += '				<input type="hidden" name="banner_image[' +languageID+'][' + image_row + '][image]" value="" id="input-image-' +languageID+'-' + image_row + '"/>';
	html  += '				<div class="card-body">';
	html  += '					<button type="button" data-oc-toggle="image" data-oc-target="input-image-' +languageID+'-' + image_row + '" data-oc-thumb="thumb-image-' +languageID+'-' + image_row + '" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i>{{ button_edit }}</button>';
	html  += '					<button type="button" data-oc-toggle="clear" data-oc-target="input-image-' +languageID+'-' + image_row + '" data-oc-thumb="thumb-image-' +languageID+'-' + image_row + '" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i>{{ button_clear }}</button>';
	html  += '				</div>';
	html  += '			</div>';
	html  += '		</div>';
	html  += '		<label class="col-sm-2 col-form-label">{{ entry_mobile_image }}</label>';
	html  += '		<div class="col-sm-5">';
	html  += '			<div class="card image">';
	html  += '				<img src="{{ placeholder }}" alt="" title="" id="thumb-mobile-image-' +languageID+'-' + image_row + '" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>';
	html  += '				<input type="hidden" name="banner_image[' +languageID+'][' + image_row + '][mobile_image]" value="" id="input-mobile-image-' +languageID+'-' + image_row + '"/>';
	html  += '				<div class="card-body">';
	html  += '	<button type="button" data-oc-toggle="image" data-oc-target="input-mobile-image-' +languageID+'-' + image_row + '" data-oc-thumb="thumb-mobile-image-' +languageID+'-' + image_row + '" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i>{{ button_edit }}</button>';
	html  += '	<button type="button" data-oc-toggle="clear" data-oc-target="input-mobile-image-' + languageID + '-' + image_row + '" data-oc-thumb="thumb-mobile-image-' +languageID+'-' + image_row + '" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i>{{ button_clear }}</button>';
	html  += '				</div>';
	html  += '			</div>';
	html  += '		</div>';
	html  += '	</div>';
	html  += '</div>';
	html  += '<div class="action-container col-1">';
	html  += '	<button type="button" id="add-sub-layer-' +languageID+'-' + image_row + '" onclick="addLayer(' + image_row + ');" data-toggle="images" title="{{ button_banner_add }}" class="btn btn-success add-sub"><i class="fa fa-plus"></i></button>';
	html  += '	<button type="button" onclick="$(\'#image-row-' +languageID+'-' + image_row + '\').remove();$(\'.tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger remove-item"><i class="fa fa-minus-circle"></i></button>';
	html  += '</div>';
	
	
	/*
	html  += '			<label>{{ entry_title }}</label>';
	html  += '			<input type="text" name="banner_image[' +languageID+'][' + image_row + '][description]" value="" placeholder="{{ language.name }} {{ entry_title }}" class="form-control" />';
	html  += '			<label>{{ entry_link }}</label>';
	html  += '			<input type="text" name="banner_image[' +languageID+'][' + image_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control" />';
	html  += '			<label>{{ entry_class }}</label>';
	html  += '			<input type="text" name="banner_image[' +languageID+'][' + image_row + '][banner_parent_class]" value="" placeholder="{{ entry_banner_parent_class }}" class="form-control" />';
	html  += '		</div>';
	html  += '		<div class="image-container col-6">';
	html  += '			<div class="row">';
	html  += '				<label class="col-sm-2 col-form-label">{{ entry_image }}</label>';
	html  += '				<div class="col-sm-4">';
	html  += '					<div class="card image">';
	html  += '						<img src="{{ placeholder }}" alt="" title="" id="thumb-image-' +languageID+'-' + image_row + '" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>'; 
	html  += '						<input type="hidden" name="banner_image[' +languageID+'][' + image_row + '][image]" value="" id="input-image-' +languageID+'-' + image_row + '"/>';
	html  += '						<div class="card-body">';
	html  += '							<button type="button" data-oc-toggle="image" data-oc-target="input-image-' +languageID+'-' + image_row + '" data-oc-thumb="thumb-image-' +languageID+'-' + image_row + '" class="btn btn-primary btn-sm btn-block">';
	html  += '							<i class="fa-solid fa-pencil"></i>{{ button_edit }}</button>';
	html  += '							<button type="button" data-oc-toggle="clear" data-oc-target="input-image-' +languageID+'-' + image_row + '" data-oc-thumb="thumb-image-' +languageID+'-' + image_row + '" class="btn btn-warning btn-sm btn-block">';
	html  += '							<i class="fa-regular fa-trash-can"></i>{{ button_clear }}</button>';
	html  += '						</div>';
	html  += '					</div>';
	html  += '			</div>';
	html  += '			<label class="col-sm-2 col-form-label">{{ entry_mobile_image }}</label>';
	html  += '			<div class="col-sm-4">';
	html  += '				<div class="card image">';
	html  += '					<img src="{{ placeholder }}" alt="" title="" id="thumb-mobile-image-' +languageID+'-' + image_row + '" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>'; 
	html  += '		<input type="hidden" name="banner_image[' +languageID+'][' + image_row + '][mobile_image]" value="" id="input-mobile-image-' +languageID+'-' + image_row + '"/>';
	html  += '					<div class="card-body">';
	html  += '						<button type="button" data-oc-toggle="image" data-oc-target="input-mobile-image-' +languageID+'-' + image_row + '" data-oc-thumb="thumb-mobile-image-' +languageID+'-' + image_row + '" class="btn btn-primary btn-sm btn-block">';
	html  += '							<i class="fa-solid fa-pencil"></i>{{ button_edit }}';
	html  += '						</button>';
	html  += '						<button type="button" data-oc-toggle="clear" data-oc-target="input-mobile-image-' +languageID+'-' + image_row + '" data-oc-thumb="thumb-mobile-image-' +languageID+'-' + image_row + '" class="btn btn-warning btn-sm btn-block">';
	html  += '							<i class="fa-regular fa-trash-can"></i>{{ button_clear }}</button>';
	html  += '					</div>';
	html  += '				</div>';
	html  += '			</div>';
	html  += '		</div>';
	html  += '	</div>';
	html  += '	<div class="action-container col-1">';
	html  += '		<button type="button" id="add-sub-layer-' +languageID+'-' + image_row + '" onclick="addLayer(' + image_row + ');" data-toggle="images" title="{{ button_banner_add }}" class="btn btn-success add-sub">';
	html  += '			<i class="fa fa-plus"></i>';
	html  += '		</button>';
	html  += '		<button type="button" onclick="$(\'#image-row-' +languageID+'-' + image_row  + '\').remove();$(\'.tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger remove-item">';
	html  += '			<i class="fa fa-minus-circle"></i>';
	html  += '		</button>';
	html  += '	</div>';*/
	//html  += '	</div>';
	html  += '	<div class="row">';
	html  += '		<div class="col-5"></div>';
	html  += '		<div class="col-7">';
	html  += '			<table class="table table-borderless" id="sub-layer-' +languageID+'-' + image_row  + '" data-subc="0" ><tbody></tbody></table>';
	html  += '		</div>';
	html  += '	</div>';
	html  += '</li>';

	$('#sortable-'+languageID).append(html);
	$('#sortable-'+languageID).data('imc',image_row);
	
}

function addImages(Ipath,Ithumb)
{
	if(Ipath=='')
	{
		Ipath='{{ placeholder }}';
	}

	html  = '<tr id="image-row' + image_row + '">';
	html += '  <td class="text-left">';
	{%  for language in languages %}
	html += '    <div class="input-group">';
	html += '      <span class="input-group-addon"><img src="{{  HTTP_IMAGE }}flags/{{ language.image }}" title="{{ language.name }}" /></span><input type="text" name="banner_image[' + image_row + '][banner_image_description][{{ language.language_id }}][title]" value="" placeholder="{{ entry_title }}" class="form-control" />';
	html += '    </div>';
	{%  endfor %}
	html += '  </td>';
	html += '  <td class="text-left"><input type="text" name="banner_image[' + image_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control" /></td>';
	html += '  <td class="text-left"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="' + Ithumb + '" alt="" title="" data-placeholder="' + Ipath + '" /></a><input type="hidden" name="banner_image[' + image_row + '][image]" value="' + Ipath + '" id="input-image' + image_row + '" /></td>';
	html += '  <td class="text-left"><a href="" id="thumb-mobile-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="' + Ithumb + '" alt="" title="" data-placeholder="' + Ipath + '" /></a><input type="hidden" name="banner_image[' + image_row + '][mobile_image]" value="' + Ipath + '" id="input-mobile_image' + image_row + '" /></td>';
	html += '  <td class="text-right"><input type="text" name="banner_image[' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + '\').remove();$(\'.tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';

	$('#images tbody').append(html);

	image_row++;
}

//--></script>
</div>
{{ footer }}
