{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="page-ctrl-controls" data-iwidth="" data-owidth="">
				
				<button type="submit" form="" formaction="{{ save }}" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary" id="button-save"><i class="fa-solid fa-floppy-disk"></i></button>
				
				<a href="{{ back }}" data-bs-toggle="tooltip" title="Dashboard" class="btn btn-light">
					<i class="fas fa-home">
					</i>
				</a>
			</div>
			<h1>
				{{ heading_title }}
			</h1>
		</div>
	</div>
	
<style>
  	span.sname {
    text-transform: capitalize;
    font-size: medium;
    margin-right: 8px;
    }
    .changed {
	    color: red !important;
	}
	li.add-row {
	    line-height: 100%;
	    vertical-align: middle;
	    font-size: 11px;
	    padding-top: 12px;
	    padding-left: 10px;
	    cursor: pointer;
	    color: dodgerblue;
	}
	td.grnd {
	    background-color: black;
	}
	.position-tbl td {
	    width: 20px;
	    height: 20px;
	    border: solid 1px #aaa;
	}
	.modal-p-table td {
	    width: 60px;
	    height: 60px;
	}
	td.tdimage {
	    position: relative;
	}
	.btn-info {
	    position: absolute;
	    border-radius: 50%;
	    padding: 5px 8px;
	    top: 5px;
	    right: 10px;
	}
	.modal-p-table td:hover {
	    background-color: #efefef;
	}
	.grnd:hover {
	    background-color: #6b6966 !important;
	}
</style>
  
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_info_css }}</div>
                        
            <div id="code">
            
              <ul class="nav nav-tabs" id="boxes" count="{{ rows|length }}">
              {% for box_group in rows %}
              	<li class="nav-item"><a href="#tab-row-{{ loop.index }}" data-tab-id="{{ loop.index }}" data-bs-toggle="tab" class="nav-link {% if loop.last %} active{% endif %}">  {{ box_group.name }}</a></li>
              {% endfor %}	
              <li class="add-row" id="addRow"><i class="fa fa-plus-circle">Add Row</i></li>
              </ul>
              <div class="tab-content" id="tabcontents">
              	
              	{% set popup_row = 0 %}
              	{% for box_group in rows %}
              	{% set popup_row = loop.index %}
              	
              	<div class="tab-pane {% if loop.last %} active{% endif %}" id="tab-row-{{ popup_row }}">
              	<form id="form-box-{{ popup_row }}" method="post" data-oc-toggle="ajax">
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">{{ entry_name }}</label>
						<div class="col-sm-10">
						<input type="text" name="popup[{{ popup_row }}][name]" value="{{ box_group.name }}" placeholder="{{ entry_name }}" class="form-control  row-name" /> 
						<input type="hidden" name="row" value="{{ popup_row }}"/> 
						<input type="hidden" id="box_row_id_{{ popup_row }}" name="popup[{{ popup_row }}][box_row_id]" value="{{ box_group.box_row_id }}"/> 
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">{{ entry_customer_group }}</label>
						<div class="col-sm-10">
						  <select name="popup[{{ popup_row }}][customer_group_id]" id="input-customer_group_id" class="form-control">
						  	{% if customer_groups %}
						  		{% for cg in customer_groups %}
						        <option value="{{ cg.customer_group_id }}"{{ box_group.customer_group_id == cg.customer_group_id ? 'selected="selected" ' }}>{{ cg.name }}</option>
						    	{% endfor %}	
						{% endif %}	 
						</select>
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-status-{{ popup_row }}" class="col-sm-2 col-form-label">{{ entry_status }}</label>
						<div class="col-sm-10">
						  <div class="form-check form-switch form-switch-lg">
						    <input type="hidden" name="popup[{{ popup_row }}][status]" value="0"/> <input type="checkbox" name="popup[{{ popup_row }}][status]" value="1" id="input-status-{{ popup_row }}" class="form-check-input"{% if box_group.status %} checked{% endif %}/>
						  </div>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
						<div class="col-sm-10">
						  <input type="text" name="popup[{{ popup_row }}][sort_order]" value="{{ popup_row }}" class="form-control"/> 
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-date-start-{{ popup_row }}" class="col-sm-2 col-form-label">{{ entry_date_start }}</label>
						<div class="col-sm-10 col-md-4">
						  <div class="input-group">
						    <input type="text" name="popup[{{ popup_row }}][start_date]" value="{{ box_group.start_date }}" placeholder="{{ entry_date_start }}" id="input-date-start-{{ popup_row }}" class="form-control date"/>
						    <div class="input-group-text"><i class="fa-regular fa-calendar"></i></div>
						  </div>
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-date-end-{{ popup_row }}" class="col-sm-2 col-form-label">{{ entry_date_end }}</label>
						<div class="col-sm-10 col-md-4">
						  <div class="input-group">
						    <input type="text" name="popup[{{ popup_row }}][end_date]" value="{{ box_group.end_date }}" placeholder="{{ entry_date_end }}" id="input-date-end-{{ popup_row }}" class="form-control date"/>
						    <div class="input-group-text"><i class="fa-regular fa-calendar"></i></div>
						  </div>
						</div>
					</div>
					
					<fieldset>
						<div class="table-responsive">
			                <table id="popup{{ popup_row }}" class="table table-striped table-bordered table-hover">
			                  <thead>
			                    <tr>
			                    <th colspan="6" class="text-center">{{ entry_parts }}</th>
			                    </tr>
			                    <tr>
			                      <td class="text-right">{{ entry_position }}</td>
			                      <td class="text-right">{{ entry_name }}</td>
			                      <td class="text-right">{{ entry_image }}</td>
			                      <td class="text-right">{{ entry_link }}</td>
			                      <td class="text-left">{{ entry_description }}</td>
			                      <td></td>
			                    </tr>
			                  </thead>
			                  <tbody count="{{ box_group.boxes|length }}" id="tbody{{ popup_row }}">
			                    
			                    {% for popup in box_group.boxes %}
			                    	{% set bCount = loop.index %}
				                    <tr id="popup-row-{{ popup_row }}-{{ bCount }}">
				                      <td class="text-left">
				                      	<table id="tbl{{ bCount }}" class="position-tbl" border="1">
					                      	<tr>
						                      	<td{{ popup.positions[0]?' class="grnd"' }}></td>
						                      	<td{{ popup.positions[1]?' class="grnd"' }}></td>
						                      	<td{{ popup.positions[2]?' class="grnd"' }}></td>
						                      	<td{{ popup.positions[3]?' class="grnd"' }}></td>
					                      	</tr>
					                      	<tr>
						                      	<td{{ popup.positions[4]?' class="grnd"' }}></td>
						                      	<td{{ popup.positions[5]?' class="grnd"' }}></td>
						                      	<td{{ popup.positions[6]?' class="grnd"' }}></td>
						                      	<td{{ popup.positions[7]?' class="grnd"' }}></td>
					                      	</tr>
					                      
				                      	</table>
				                      	<input type="hidden"  name="popup[{{ popup_row }}][boxes][{{ bCount }}][position]" value="{{ popup.position }}"/>
				                      
				                      </td>
				                      <td class="text-right">
				                      <input type="text" name="popup[{{ popup_row }}][boxes][{{ bCount }}][name]" value="{{ popup.name }}" placeholder="{{ entry_name }}" class="form-control" /></td>
				                      <td class="text-left tdimage">
				                      	<div class="card">
                              				<img src="{{ popup.thumb }}" alt="" title="" id="thumb-image-{{ popup_row }}-{{ bCount }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>
                              				<input type="hidden" name="popup[{{ popup_row }}][boxes][{{ bCount }}][image]" value="{{ popup.image }}" id="input-image-{{ popup_row }}-{{ bCount }}"/>
                              				<a  title="{{ button_view }}" class="btn btn-info view-button"><i class="fa fa-eye"></i></a>
                              				<div class="card-body">
                                				<button type="button" data-oc-toggle="image" data-oc-target="input-image-{{ popup_row }}-{{ bCount }}" data-oc-thumb="#thumb-image-{{ popup_row }}-{{ bCount }}" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
                                <button type="button" data-oc-toggle="clear" data-oc-target="input-image-{{ popup_row }}-{{ bCount }}-image" data-oc-thumb="#thumb-image-{{ popup_row }}-{{ bCount }}" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
                              				</div>
                            			</div>
				                      </td>
				                      
				                      <td class="text-right">
				                      <input type="text" name="popup[{{ popup_row }}][boxes][{{ bCount }}][link]" value="{{ popup.link }}" placeholder="{{ entry_link }}" class="form-control" /></td>
				                      <td class="text-right">
				                      <input type="text" name="popup[{{ popup_row }}][boxes][{{ bCount }}][description]" value="{{ popup.description }}" placeholder="{{ entry_description }}" class="form-control" /></td>
				                      <td class="text-left"><input type="text" name="popup[{{ popup_row }}][boxes][{{ bCount }}][sort_order]" value="{{ popup.sort_order }}" class="form-control sordr"></td>
				                      
				                      <td class="text-left"><button type="button" onclick="$('#popup-row-{{ popup_row }}-{{ bCount }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
				                      </td>
				                    </tr>
			                    {% endfor %}
			                    
			                  </tbody>
			                  <tfoot>
			                    <tr>
			                      <td colspan="5"></td>
			                      <td class="text-left"><button type="button" data-toggle="tooltip" title="{{ button_popup_add }}" class="btn btn-primary addbox" bid="{{ popup_row }}"><i class="fa fa-plus-circle"></i></button></td>
			                    </tr>
			                  </tfoot>
			                </table>
              			</div>
              			
					</fieldset> 
              	</form>
              </div>
            	{% endfor %}	
           
            
            </div>
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="positionModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title">{{ modal_position }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
       <table class="modal-p-table" border="1">
	       <tr>
		       	<td id="t0" dvalue="0"></td>
		       	<td id="t1" dvalue="0"></td>
		       	<td id="t2" dvalue="0"></td>
		       	<td id="t3" dvalue="0"></td>
	       </tr>
	       <tr>
		       	<td id="t4" dvalue="0"></td>
		       	<td id="t5" dvalue="0"></td>
		       	<td id="t6" dvalue="0"></td>
		       	<td id="t7" dvalue="0"></td>
	       </tr>
       </table>
       <input type="hidden" id="hidmodal" value=""/>
      </div>
      <div class="modal-footer">
        <button type="button" id="okBt" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript"><!--
var popup_row = 0
var nRow={{ popup_row }};
var nBox={{ bCount?bCount:0 }};
var aRow=1;



$(document).on('shown.bs.tab', '#boxes .nav-link', function (){
	tabId= $(this).data('tab-id');
	$('#button-save').attr('form','form-box-'+tabId);
	
});

$(document).on('click','#addRow',function(e){
	e.preventDefault();
	addRow();
	return false;
});

function active(){
	nRow = $('#boxes > .nav-item').length
	
}


function addRowEx(){
	nRow++;
	
	html  = '<div class="tab-pane" id="tab-row-'+nRow+'">';
	html += '<div class="form-group">';
	html += '<label class="col-lg-2 control-label" for="input-points">Name</label>';
	html += '<div class="col-lg-10">';
	html += '<input type="text" name="popup['+nRow+'][name]" value="" placeholder="{{ entry_name }}" class="form-control row-name" />';
	html += '</div>';
	html += '</div>';
	html += '<div class="form-group">';
	html += '<label class="col-lg-2 control-label" for="input-points">Customer Group</label>';
	html += '<div class="col-lg-10">';
	html += '<select name="popup[{{ popup_row }}][customer_group_id]" id="input-customer_group_id" class="form-control">';
	{% for cg in customer_groups %}
       	html += '<option value="{{ cg.customer_group_id }}" {{ row.customer_group_id == cg.customer_group_id ? 'selected="selected" ' }}>{{ cg.name }}</option>';
    {% endfor %}
	
	html += '</select>';
	html += '</div>';
	html += '</div>';
	html += '<div class="form-group">';
	html += '<label class="col-lg-2 control-label" for="input-points">Status</label>';
	html += '<div class="col-lg-10">';
	html += '<select name="popup['+nRow+'][status]" id="input-status" class="form-control">';
	html += '<option value="1" selected="selected">{{ text_enabled }}</option>';
	html += '<option value="0">{{ text_disabled }}</option>';
	html += '</select>';
	html += '</div>';
	html += '</div>';
	html += '<div class="form-group">';
	html += '<label class="col-lg-2 control-label" for="input-points">Sort Order</label>';
	html += '<div class="col-lg-10">';
	html += '<input type="text" name="popup['+nRow+'][sort_order]" value="" placeholder="Sort Order" class="form-control" />';
	html += '</div>';
	html += '</div>';
	html += '<div class="form-group">';
	html += '<label class="col-lg-2 control-label" for="input-points">Date</label>';
	html += '<div class="col-lg-10">';
	html += '<table>';
	html += '<tr>';
	html += '<td  width="50%"><div class="input-group datetime">';
	html += '<input type="text" name="popup['+nRow+'][start_date]" value="" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD HH:mm" class="form-control" />';
	html += '<span class="input-group-btn">';
	html += '<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>';
	html += '</span></div></td>';
	html += '<td width="50%"><div class="input-group datetime">';
	html += '<input type="text" name="popup['+nRow+'][end_date]" value="" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD HH:mm" class="form-control" />';
	html += '<span class="input-group-btn">';
	html += '<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>';
	html += '</span></div></td>';
	html += '</tr>';
	html += '</table>';
	html += '</div>';
	html += '</div>';
	html += '<div class="table-responsive">';
	html += '<table id="popup'+nRow+'" class="table table-striped table-bordered table-hover">';
	html += '<thead>';
	html += '<tr>';
	html += '<td class="text-right">{{ entry_position }}</td>';
	html += '<td class="text-right">{{ entry_name }}</td>';
	html += '<td class="text-right">{{ entry_image }}</td>';
	html += '<td class="text-right">{{ entry_link }}</td>';
	html += '<td class="text-left">{{ entry_description }}</td>';
	html += '<td></td>';
	html += '</tr>';
	html += '</thead>';
	html += '<tbody>';
	html += '</tbody>';
	html += '<tfoot>';
	html += '<tr>';
	html += '<td colspan="6"></td>';
	html += '<td class="text-left"><button type="button" onclick="addBox();" data-toggle="tooltip" title="{{ button_popup_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>';
	html += '</tr>';
	html += '</tfoot>';
	html += '</table>';
	html += '</div></div>';
	
	$('#tabcontents').append(html);
	
	$('<li class="nav-item" id="rid'+nRow+'"><a href="#tab-row-'+nRow+'" data-bs-toggle="tab" class="nav-link" data-count="'+nRow+'"><i class="fa fa-minus-circle" onclick="$(\'a[href=\'#tab-row-'+nRow+'\']\').parent().remove(); $(\'#tab-row-'+nRow+').remove(); $(\'#rows a:last\').tab(\'show\');"></i> row:'+nRow+'</a></li>').insertBefore( "#addRow" );
	
	$('#rid'+nRow+' a').tab('show');
	
	//$('.datetime').datetimepicker();
	
	
}

function addRow(){
	nRow++;
	
	html  = '<div class="tab-pane" id="tab-row-'+nRow+'">';
	html += '	<form id="form-box-'+nRow+'" method="post" data-oc-toggle="ajax">';
	html += '		<div class="row mb-3">';
	html += '			<label class="col-sm-2 col-form-label">{{ entry_name }}</label>';
	html += '			<div class="col-sm-10">';
	html += '				<input type="text" name="popup['+nRow+'][name]" value="{{ box_group.name }}" placeholder="{{ entry_name }}" class="form-control  row-name" />';
	html += '				<input type="hidden" name="row" id="box_row_id_'+nRow+'" value="'+nRow+'"/> ';
	html += '				<input type="hidden" name="popup['+nRow+'][box_row_id]" value=""/>';
	html += '			</div>';
	html += '		</div>';
	
	html += '		<div class="row mb-3">';
	html += '			<label class="col-sm-2 col-form-label">{{ entry_customer_group }}</label>';
	html += '			<div class="col-sm-10">';
html += '					<select name="popup['+nRow+'][customer_group_id]" id="input-customer_group_id" class="form-control">';
  	{% if customer_groups %}
  		{% for cg in customer_groups %}
	html += '<option value="{{ cg.customer_group_id }}">{{ cg.name }}</option>';
    	{% endfor %}	
	{% endif %}	
	 
	html += '				</select>';
	html += '			</div>';
	html += '		</div>';
	
	html += '		<div class="row mb-3">';
	html += '			<label for="input-status-'+nRow+'" class="col-sm-2 col-form-label">{{ entry_status }}</label>';
	html += '			<div class="col-sm-10">';
	html += '				<div class="form-check form-switch form-switch-lg">';
	html += '					<input type="hidden" name="popup['+nRow+'][status]" value="0"/>';
	html += '					<input type="checkbox" name="popup['+nRow+'][status]" value="1" id="input-status-'+nRow+'" class="form-check-input"/>';
	html += '				</div>';
	html += '			</div>';
	html += '		</div>';
	
	html += '		<div class="row mb-3">';
	html += '			<label class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>';
	html += '			<div class="col-sm-10">';
	html += '				<input type="text" name="popup['+nRow+'][sort_order]" value="'+nRow+'" class="form-control"/>';
	html += '			</div>';
	html += '		</div>';
	
	html += '		<div class="row mb-3">';
	html += '			<label for="input-date-start-'+nRow+'" class="col-sm-2 col-form-label">{{ entry_date_start }}</label>';
	html += '			<div class="col-sm-10 col-md-4">';
	html += '				<div class="input-group">';
	html += '					<input type="text" name="popup['+nRow+'][start_date]" value="{{ box_group.start_date }}" placeholder="{{ entry_date_start }}" id="input-date-start-'+nRow+'" class="form-control date"/>';
	html += '					<div class="input-group-text"><i class="fa-regular fa-calendar"></i></div>';
	html += '				</div>';
	html += '			</div>';
	html += '		</div>';
	
	html += '		<div class="row mb-3">';
	html += '			<label for="input-date-end-'+nRow+'" class="col-sm-2 col-form-label">{{ entry_date_end }}</label>';
	html += '			<div class="col-sm-10 col-md-4">';
	html += '				<div class="input-group">';
	html += '					<input type="text" name="popup['+nRow+'][end_date]" value="{{ box_group.end_date }}" placeholder="{{ entry_date_end }}" id="input-date-end-'+nRow+'" class="form-control date"/>';
	html += '					<div class="input-group-text"><i class="fa-regular fa-calendar"></i></div>';
	html += '				</div>';
	html += '			</div>';
	html += '		</div>';
	
	html += '		<fieldset>';
	html += '			<div class="table-responsive">';
	html += '				<table id="popup'+nRow+'" class="table table-striped table-bordered table-hover">';
	html += '					<thead>';
	html += '						<tr>';
	html += '							<th colspan="6" class="text-center">{{ entry_parts }}</th>';
	html += '						</tr>';
	html += '						<tr>';
	html += '							<td class="text-right">{{ entry_position }}</td>';
	html += '							<td class="text-right">{{ entry_name }}</td>';
	html += '							<td class="text-right">{{ entry_image }}</td>';
	html += '							<td class="text-right">{{ entry_link }}</td>';
	html += '							<td class="text-left">{{ entry_description }}</td>';
	html += '							<td></td>';
	html += '						</tr>';
	html += '					</thead>';
	html += '					<tbody></tbody>';
	html += '					<tfoot>';
	html += '						<tr>';
	html += '							<td colspan="5"></td>';
	html += '							<td class="text-left"><button type="button" onclick="addBox();" data-toggle="tooltip" title="{{ button_popup_add }} class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>';
	html += '						</tr>';
	html += '					</tfoot>';
	html += '				</table>';
	html += '			</div>';
	html += '		</fieldset>'; 
	html += '	</form>';
	html += '</div>';
	
	$('#tabcontents').append(html);
	
	$('<li class="nav-item" id="rid'+nRow+'"><a href="#tab-row-'+nRow+'" data-tab-id="'+nRow+'" data-bs-toggle="tab" class="nav-link" data-count="'+nRow+'"><i class="fa fa-minus-circle" onclick="$(\'a[href=\'#tab-row-'+nRow+'\']\').parent().remove(); $(\'#tab-row-'+nRow+').remove(); $(\'#rows a:last\').tab(\'show\');"></i> row:'+nRow+'</a></li>').insertBefore( "#addRow" );
	
	$('#rid'+nRow+' a').tab('show');
	$('#button-save').attr('form','form-box-'+nRow);
	
	//$('.datetime').datetimepicker();
	
	
}

function addBoxEx() {
	html  = '<tr id="popup-row-'+aRow+'-' + nBox + '">'; 
    html += '  <td class="text-left">';	
    html += '  <table id="tbl'+aRow+'-' + nBox + '" class="position-tbl" border="1"><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr></table>';	 
    html += ' <input type="hidden"  name="popup[' + aRow + '][boxes][' + nBox + '][position]" value=""/>';
    html += '  </td>';	
    	
    html += '  <td class="text-right"><input type="text" name="popup[' + aRow + '][boxes][' + nBox + '][name]" value="" placeholder="{{ entry_name }} class="form-control" /></td>';
    
    html += '  <td class="text-left tdimage"><a href="" id="thumb-image-' + aRow + '-' + nBox + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }} alt="" title="" data-placeholder="{{ placeholder }} /><input type="hidden" name="popup[' + aRow + '][boxes][' + nBox + '][image]" value="" id="input-image-' + aRow + '-' + nBox + '" class="popupimage" /><a href="#" title="{{ button_view }} class="btn btn-info view-button"><i class="fa fa-eye"></i></a></td>';
    
    html += '  <td class="text-right"><input type="text" name="popup[' + aRow + '][boxes][' + nBox + '][link]" value="" placeholder="{{ entry_link }} class="form-control" /></td>';
    
    html += '  <td class="text-right"><input type="text" name="popup[' + aRow + '][boxes][' + nBox + '][description]" value="" placeholder="{{ entry_description }} class="form-control" /></td>';
    
	
	
    html += '  <td class="text-left"><input type="text" name="popup[' + aRow + '][boxes][' + nBox + '][sort_order]" value="" class="form-control sordr"></td>';
    
	html += '  <td class="text-left"><button type="button" onclick="$(\'#popup-row-'+aRow+'-' + nBox + '\').remove();" data-toggle="tooltip" title="{{ button_remove }} class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';	
	
	$('#popup'+aRow+' > tbody').append(html);
	$('#popup'+aRow+' > tbody .sordr').each(function(ind){
		$(this).val(ind+1);
	})
	
	$('.date').datetimepicker({
		pickTime: false
	});
	
	$(".position-tbl").click(function() {
            $(".modal-p-table td").removeClass('grnd');
            $(".modal-p-table td").attr('dvalue','0');
            $('#hidmodal').val($(this).attr('id'));
            counter=0;
            
             $(this).find('td').each(function( i ) {
            	
				if($(this).hasClass('grnd')){
				  	$("#t"+counter).addClass('grnd');
				  	$("#t"+counter).attr('dvalue','1');
				  }   else {
				  	$("#t"+counter).removeClass('grnd');
				  	$("#t"+counter).attr('dvalue','0');
				  }  
				 counter++;
		  	});   
		  	$('#positionModal').modal('show');                   
     });
     
	nBox++;
}

function addBox(aRow,nBox) {
	
	aRow = nRow;
	
	html  = '<tr id="popup-row-'+aRow+'-' + nBox + '">';	
    html += '	<td class="text-left">';	
    html += '		<table id="tbl' + nBox + '" class="position-tbl" border="1">';	
    html += '			<tr>';	
    html += '				<td></td>';	
    html += '				<td></td>';	
    html += '				<td></td>';	
    html += '				<td></td>';	
    html += '			</tr>';	
    html += '			<tr>';	
    html += '				<td></td>';	
    html += '				<td></td>';	
    html += '				<td></td>';	
    html += '				<td></td>';	
    html += '			</tr>';	
    html += '		</table>';	
    html += '		<input type="hidden"  name="popup['+aRow+'][boxes][' + nBox + '][position]" value=""/>';	
    html += '	</td>';	
    html += '	<td class="text-right">';	
    html += '		<input type="text" name="popup['+aRow+'][boxes][' + nBox + '][name]" value="" placeholder="{{ entry_name }}" class="form-control" /></td>';	
    html += '	<td class="text-left tdimage">';	
    html += '		<div class="card">';	
    html += '			<img src="{{ placeholder }}" alt="" title="" id="thumb-image-'+aRow+'-' + nBox + '" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>';	
    html += '			<input type="hidden" name="popup['+aRow+'][boxes][' + nBox + '][image]" value="" id="input-image-'+aRow+'-' + nBox + '"/>';	
    html += '			<a  title="{{ button_view }}" class="btn btn-info view-button"><i class="fa fa-eye"></i></a>';	
    html += '			<div class="card-body">';	
    html += '				<button type="button" data-oc-toggle="image" data-oc-target="input-image-'+aRow+'-' + nBox + '-image" data-oc-thumb="#thumb-image-'+aRow+'-' + nBox + '" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>';	
    html += '				<button type="button" data-oc-toggle="clear" data-oc-target="input-image-'+aRow+'-' + nBox + '-image" data-oc-thumb="#thumb-image-'+aRow+'-' + nBox + '" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>';	
    html += '			</div>';	
    html += '		</div>';	
    html += '	</td>';	
    html += '	<td class="text-right">';	
    html += '		<input type="text" name="popup['+aRow+'][boxes][' + nBox + '][link]" value="" placeholder="{{ entry_link }}" class="form-control" /></td>';	
    html += '	<td class="text-right">';	
    html += '		<input type="text" name="popup['+aRow+'][boxes][' + nBox + '][description]" value="" placeholder="{{ entry_description }}" class="form-control" /></td>';	
    html += '	<td class="text-left"><input type="text" name="popup['+aRow+'][boxes][' + nBox + '][sort_order]" value="" class="form-control sordr"></td>';	
    html += '	<td class="text-left"><button type="button" onclick="$(\'#popup-row-'+aRow+'-' + nBox +').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>';	
    html += '	</td>';	
    html += '</tr>'; 
	
	
	$('#popup'+aRow+' > tbody').append(html);
	$('#popup'+aRow+' > tbody .sordr').each(function(ind){
		$(this).val(ind+1);
	})
	
	//$('.date').datetimepicker({
	//	pickTime: false
	//});
	
	$(".position-tbl").click(function() {
            $(".modal-p-table td").removeClass('grnd');
            $(".modal-p-table td").attr('dvalue','0');
            $('#hidmodal').val($(this).attr('id'));
            counter=0;
            
             $(this).find('td').each(function( i ) {
            	
				if($(this).hasClass('grnd')){
				  	$("#t"+counter).addClass('grnd');
				  	$("#t"+counter).attr('dvalue','1');
				  }   else {
				  	$("#t"+counter).removeClass('grnd');
				  	$("#t"+counter).attr('dvalue','0');
				  }  
				 counter++;
		  	});   
		  	$('#positionModal').modal('show');                   
     });
    
}

//--></script>


 <script type="text/javascript"><!--
 
	$('#button-save').attr('form','form-box-'+nRow);
    $(document).on("click","button.addbox",function(){
    	
 		tBox = $('#tbody'+$(this).attr('bid')).attr('count')+1;
 		tRow = $('#boxes').attr('count')+1;
 		$('#tbody'+$(this).attr('bid')).attr('count',tBox)
 		addBox(aRow,tBox);
 	}); 
 //--></script>
 
 <script type="text/javascript"><!--
  
jQuery(document).ready(function() {
    
	$(document).on("click",".position-tbl",function() {
		 	$(".modal-p-table td").removeClass('grnd');
            $(".modal-p-table td").attr('dvalue','0');
            $('#hidmodal').val($(this).attr('id'));
            counter=0;
            
             $(this).find('td').each(function( i ) {
            	
				if($(this).hasClass('grnd')){
				  	$("#t"+counter).addClass('grnd');
				  	$("#t"+counter).attr('dvalue','1');
				  }   else {
				  	$("#t"+counter).removeClass('grnd');
				  	$("#t"+counter).attr('dvalue','0');
				  }  
				 counter++;
		  	});   
		  	$('#positionModal').modal('show');                               
     });
     
    $("#okBt").click(function() {
    	  $('#positionModal').modal('hide');
    	  posValues = '';
    	  counter=0;
    	  $( "#"+ $('#hidmodal').val()+" td" ).each(function( i ) {
				if($("#t"+i).attr('dvalue')==0){
				  	$(this).removeClass('grnd');
				  }   else {
				  	$(this).addClass('grnd');
				  }  
				posValues += $("#t"+i).attr('dvalue')+'-'
				counter++;
		  });
		   
		 $(".modal-p-table td").removeClass('grnd');
		 $(".modal-p-table td").attr('dvalue','0');
		  posValues.substring(0,posValues.length-1);
		 
    	   $( "#"+ $('#hidmodal').val()).parent().find('input').val(posValues);
    	  
    })
    
    $(".modal-p-table td").click(function() {
          if($(this).hasClass('grnd')){
		  	$(this).removeClass('grnd');
		  	$(this).attr('dvalue','0');
		  	
		  }   else{
		  	$(this).addClass('grnd');
		  	$(this).attr('dvalue','1');
		  }                     
     });
    
   
});

$(document).on('change','.row-name', function(e) {
		$('#rid'+aRow+' > a').html('<i class="fa fa-minus-circle" onclick="$(this).parent().remove(); $(\'#tab-'+aRow+'\').remove(); $(\'#rows a:first\').tab(\'show\');"></i> '+ $(this).val());
		
}); 


$(document).on('click','.view-button',function(e){
	e.preventDefault();
	big_Image = '../image/'+$(this).parent().parent().find('[type="hidden"').val();
	$.fancybox.open([
	    {   href : big_Image,
	    }
	], {
	    padding : 0,
	     afterShow: function() {
                $("img.fancybox-image").click(function() {
                    window.location.href = big_Image;                        
                });
            }   
	});

	return false;
});

	
//--></script>


{{ footer }} 