<form id="form-news" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="news">
	<div id="sortableDiv" class="table-responsive">
		<ul id="sortable">
				{% if Items %}
				{% for col,item in Items %}
				<li class="mItem{{ not item.status?' status-close':'' }}" id="{{ item.news_id}}">
					<div class="mItem-header">
						<span class="carry"><i class="fa fa-people-carry"></i></span>
						<span class="check">
							<input type="checkbox" name="selected[]" value="{{ item.news_id }}" {% if not item.news_id in selected %} checked="checked" {% endif %}/>
						</span>
						
						<span class="editItem">
							<a href="{{ item.edit }}" data-toggle="tooltip" title="{{ button_edit }}">
								<i class="fa fa-pencil">
								</i>
							</a>
						</span>
					</div>
					<div class="mItem-content">
						{% if item.image %}
						<a href="{{ item.bimage}}" data-lightbox="example-set">
							<img src="{{ item.image }}" alt="{{ item.title }}" alt="" class="img-thumbnail" />
						</a>
						<span class="mItem-title">
						{{ item.title }}
						</span>
						{% else %}
						<span class="img-thumbnail list">
							<i class="fa fa-camera fa-2x">
							</i>
						</span>
						{% endif %}
					</div>
				</li>
				
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="5">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</ul>
	</div>
	<div class="row">
		<div class="col-sm-6 text-start">
			{{ not filter_all?pagination:'' }}
		</div>
		<div class="col-sm-6 text-end">
			{{ results }}
		</div>
	</div>
</form>
