{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="ctrl-controls" data-iwidth="" data-owidth=""><a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
				<button type="submit" form="form-ode" formaction="{{ delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" onclick="return confirm('{{ text_confirm }}');" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fa-solid fa-list"></i> {{ text_list }}</div>
			<div id="ode" class="card-body">{{ list }}</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('#ode').on('click', 'thead a, .pagination a', function (e) {
    e.preventDefault();

    $('#ode').load(this.href);
    
    
	$("#sortable").sortable({
		placeholder: "ui-state-highlight",
		item:'tr',
		handle: "i.fa-up-down-left-right",
		helper:	'clone',
		item:'tr',
		update: function (item, container, _super) {
			var Olchild=$('#sortable tr');
			serials='';
			$(Olchild).each(function(){
					serials += $(this).attr('data-id')+'_'
			});
			$.ajax({
					url: 'index.php?route=bytao/ode.sort&user_token={{ user_token }}',
					dataType: 'json',
					type:'post',
					data:{serial:serials},	
					success: function(json) {
						
					}
				});
		},
		serialize: function (parent, children, isContainer) {
			return isContainer ? children.join() : parent.attr('id');
		},
		tolerance: 6,
		distance: 10,
		activate: function( event, ui ) { 

		}
	});


    
});
//--></script>
{{ footer }}