{{ header }}{{ column_left }}
<div id="content">
   <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-press" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
  	<div class="panel panel-default">
      
      <div class="panel-body">
        <form action="{{ save }}" method="post" data-oc-toggle="ajax" id="form-press">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#tab-general"  data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
            	<div class="row mb-3">
	                <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
	                <div class="col-sm-10">
	                  <div class="form-check form-switch form-switch-lg">
	                    <input type="hidden" name="status" value="0"/>
	                    <input type="checkbox" name="status" value="1" id="input-status" class="form-check-input"{% if status %} checked{% endif %}/>
	                  </div>
	                </div>
	              </div>
            	
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                <li class="nav-item"><a href="#language-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link{% if loop.first %} active{% endif %}"><img src="{{ language.image|lower }}" title="{{ language.name }}"/> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
              {% for language in languages %}
                <div class="tab-pane lan {% if loop.first %} active{% endif %}" id="language-{{ language.language_id }}" lid="{{ language.language_id }}">
                
                  <div class="row mb-3 required">
                      <label for="input-title-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_title }}</label>
                      <div class="col-sm-10">
                       <textarea name="press_description[{{ language.language_id }}][title]" placeholder="{{ entry_title }}" id="input-title{{ language.language_id }}" class="form-control">{{ press_description[language.language_id] ? press_description[language.language_id].title }}</textarea> 
                       {% if error_question[language.language_id] %}
                      <div class="text-danger">{{ error_title[language.language_id] }}</div>
                      {% endif %}
                      </div>
                 </div>
                 
                 <div class="row mb-3">
                      <label for="input-description-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_description }}</label>
                      <div class="col-sm-10">
                       <textarea name="press_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" class="form-control">{{ press_description[language.language_id] ? press_description[language.language_id].description }}</textarea>
                       
                       
                      {% if error_ansver[language.language_id] %}
                      <div class="text-danger">{{ error_ansver[language.language_id] }}</div>
                      {% endif %}
                      </div>
                 </div>
				 <div class="row mb-3">
				 	<label for="input-video-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_video }}</label>
				 	<div class="col-sm-10">
				 		<input name="press_description[{{ language.language_id }}][video]" placeholder="{{ entry_title }}" id="input-video{{ language.language_id }}" class="form-control" value="{{ press_description[language.language_id] ? press_description[language.language_id].video }}" />
				 	</div>
				 </div>
                  <div class="row mb-3">
									<label class="col-sm-2 col-form-label"> SEO </label>
									<div class="col-sm-10">
										<ul class="nav nav-tabs" id="meta">
											<li class="nav-item">
												<a href="#tab-meta-title-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link required">
													{{ entry_meta_title }}
													<i class="{{ press_description[language.language_id].meta_title ? 'fa-solid': 'fa-regular' }} fa-circle">
													</i>
												</a>
											</li>
											<li class="nav-item">
												<a href="#tab-meta-description-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link">
													{{ entry_meta_description }}
													<i class="{{ press_description[language.language_id].meta_description ? 'fa-solid': 'fa-regular' }} fa-circle">
													</i>
												</a>
											</li>
											<li class="nav-item">
												<a href="#tab-meta-keyword-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link">
													{{ entry_meta_keyword }}
													<i class="{{ press_description[language.language_id].meta_keyword ? 'fa-solid': 'fa-regular' }} fa-circle">
													</i>
												</a>
											</li>
											<li class="nav-item">
												<a href="#tab-meta-seo-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link active">
													{{ entry_seo_url }}
													<i class="{{ press_seo_url[language.language_id] ? 'fa-solid': 'fa-regular' }} fa-circle">
													</i>
												</a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane" id="tab-meta-title-{{ language.language_id }}">
												<div class="row mb-3">
													<div>
														<input type="text" name="press_description[{{ language.language_id }}][meta_title]" value="{{ press_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title-{{ language.language_id }}" class="form-control"/>
														<div id="error-meta-title-{{ language.language_id }}" class="invalid-feedback">
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane " id="tab-meta-description-{{ language.language_id }}">
												<div class="row mb-3">
													<div class="col-sm-12">
														<textarea name="press_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description-{{ language.language_id }}" class="form-control">{{ press_description[language.language_id].meta_description }}</textarea>
													</div>
												</div>
											</div>
											<div class="tab-pane " id="tab-meta-keyword-{{ language.language_id }}">
												<div class="row mb-3">
													<div class="col-sm-12">
														<textarea name="press_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword-{{ language.language_id }}" class="form-control">{{ press_description[language.language_id].meta_keyword }}</textarea>
														
													</div>
												</div>
											</div>
											<div class="tab-pane active" id="tab-meta-seo-{{ language.language_id }}">
												<div class="row mb-3">
													<div class="col-sm-12">
														<div class="alert alert-info">
															<i class="fa-solid fa-info-circle"></i>{{ text_keyword }}
														</div>
														<div class="input-group">
															<div class="input-group-text">
																<img src="{{ language.image|lower }}" title="{{ language.name }}" style="margin-right:10px;"/>  {{ url }}
															</div>
															<input type="text" name="press_seo_url[{{ language.language_id }}]" value="{{ press_seo_url[language.language_id] }}" placeholder="{{ entry_keyword }}" id="input-keyword-{{ language.language_id }}" class="form-control input-seo-url" style="padding-left: 1px;"/>
														</div>
														<div id="error-keyword-{{ language.language_id }}" class="invalid-feedback">
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
                 
                 <div class="row mb-3">
	                <label class="col-sm-2 col-form-label">{{ entry_image }}</label>
	                <div class="col-sm-10">
	                  <div class="card image">
	                    <img src="{{ press_description[language.language_id] ? press_description[language.language_id].thumb:placeholder }}" alt="" title="" id="thumb-image-{{ language.language_id }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="press_description[{{ language.language_id }}][image]" value="{{ press_description[language.language_id] ? press_description[language.language_id].image  }}" id="input-image-{{ language.language_id }}"/>
	                    <div class="card-body">
	                      <button type="button" data-oc-toggle="image" data-oc-target="input-image-{{ language.language_id }}" data-oc-thumb="thumb-image-{{ language.language_id }}" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
	                      <button type="button" data-oc-toggle="clear" data-oc-target="input-image-{{ language.language_id }}" data-oc-thumb="thumb-image-{{ language.language_id }}" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
	                    </div>
	                  </div>
	                </div>
	              </div>
	              
                </div>
                {% endfor %}</div>
            </div>
          </div>
          <input type="hidden" name="press_id" value="{{ press_id }}" id="input-press-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 
