{% for slider in slides %}

<div class="slider-item" data-id="{{ slider.slide_id }}" id="slider-item-{{ slider.slide_id }}" >
	<a class="image" href="#" data-layer_id="{{ slider.slide_id }}">
		<img class="slayt-img-responsive" src="{{ slider.image }}" height="86"/>
	</a>
	<a  title="{{ text_clone_this }}" class="slider-clone" href="#" data-layer_id="{{ slider.slide_id }}">
		<span>
			{{ button_clone }}
		</span>
	</a>
	<a  title="{{ text_delete_this }}" class="slider-delete" href="#" data-layer_id="{{ slider.slide_id }}">
		<span>
			{{ button_delete }}
		</span>
	</a>
	<a  title="{{ text_change_this }}" class="slider-change-language" href="#" data-layer_id="{{ slider.slide_id }}">
		<span>
			{{ button_change }}
		</span>
	</a>

	<a class="slider-status{% if not slider.status %} slider-status-off {% endif %}" href="#" data-layer_id="{{ slider.slide_id }}">
		<span>
			{{ text_status }}
		</span>
	</a>
	<div>
		{{ slider.title }}
	</div>
</div>

{% endfor %}